.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.384);
  /* background-color: pink; */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  z-index: 100;
}
.header > h1 {
  width: 150px;
  font-size: 20px;
  font-weight: 900;
}
.nav {
  display: flex;
  width: calc(100% - 150px);
  height: 100%;
  box-sizing: border-box;
  padding-left: 3px;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-menu {
  display: flex;
}
.nav .nav-menu > li {
  position: relative;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 700;
}
.nav .nav-menu > li::after {
  position: absolute;
  content: '';
  top: 24px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #00c73d;
  transition: all ease-in-out 0.25s 0s;
}
.nav .nav-menu > li:hover::after {
  width: 100%;
  background-color: #fff;
}
.nav-right {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}
.nav-right > button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.nav-right > button:hover {
  opacity: 0.5;
}
.nav-right span {
  position: relative;
  margin-left: 5px;
}
.nav-right span::after {
  content: '';
  position: absolute;
  left: 27px;
  top: 7px;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}
.nav-select-lang {
  display: block;
  position: absolute;
  width: 80px;
  top: 30px;
  left: 5px;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 16px 0;
}
.nav-right > .nav-select-lang a {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.nav-right > .nav-select-lang a:hover {
  opacity: 0.6;
}
.header .btn-search::before {
  content: '';
  position: absolute;
  left: -10px;
  display: block;
  width: 1px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}
.header .btn-search {
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}
.nav-search {
  display: none;
  /* display: flex; */
  margin-left: calc(100vw - 832px);
  align-items: center;
}
.nav-search > button,
.nav-search > input {
  background: none;
  border: none;
}
.nav-search > input {
  width: 604px;
  margin-left: 15px;
  font-size: 16px;
}
.nav-search > input:focus {
  outline: none;
}
.more {
  float: right;
}
.more,
.more-riners {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
}
.more::after,
.more-riners::after {
  content: '';
  margin-left: 8px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url('../img/chevron-right.svg');
}
.more-riners {
  position: absolute;
  bottom: 0px;
  right: 200px;
}

/* footer */
footer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 102px auto 51px;
  border-top: 1px solid #e1e1e1;
  padding-top: 44px;
  font-size: 13px;
}

footer small {
  line-height: 15px;
  font-weight: 300;
}
.copyright {
  margin-right: 49px;
  letter-spacing: 0;
}
footer small a {
  font-weight: 500;
}
footer small a:hover {
  color: #999;
}
footer button {
  border: none;
  background: none;
}
footer > div {
  display: flex;
}
footer div button {
  font-weight: 700;
}
.btn-container {
  position: relative;
}
.sns-list {
  display: flex;
  align-items: center;
}
.sns-list li:not(:last-child) {
  margin-right: 10px;
}
.sns-list img {
  width: 25px;
  height: 25px;
}
.sns-list img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.related-list {
  margin-right: 15px;
  cursor: pointer;
}
.related-list:hover {
  color: #999;
}
.related-list::after {
  content: '';
  margin-left: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url('../img/chevron-down-black.svg');
}
.related-list:hover::after {
  opacity: 0.5;
}
.related-items,
.insta-list,
.face-list,
.in-list,
.you-list {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #e1e1e1;
  padding: 11px 0;
  font-size: 14px;
  font-weight: 500;
  color: #999;
  letter-spacing: 0;
  background: #fff;
}
.related-items {
  bottom: 71px;
  left: 0;
}
.insta-list,
.face-list,
.in-list,
.you-list {
  /* width: 170px; */
  bottom: 50px;
  padding: 20px 0;
}
.insta-list {
  left: 90px;
}
.face-list {
  left: 130px;
}
.in-list {
  /* width: 110px; */
  left: 210px;
}
.you-list {
  left: 230px;
}
.insta-list > li,
.face-list > li,
.in-list > li,
.you-list > li {
  margin-bottom: 20px;
}
.insta-list a,
.face-list a,
.in-list a,
.you-list a {
  display: inline-block;
  width: 150px;
  padding-left: 18px;
}
.insta-list a:hover,
.face-list a:hover,
.in-list a:hover,
.you-list a:hover {
  color: #000;
}
.related-items a {
  display: inline-block;
  padding: 7px 20px 7px 15px;
}
.related-items a:hover {
  color: #000;
}
