.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.384);
  /* background-color: pink; */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
}
.header > h1 {
  width: 150px;
  font-size: 20px;
  font-weight: 900;
}
.nav {
  display: flex;
  width: calc(100% - 150px);
  height: 100%;
  box-sizing: border-box;
  padding-left: 3px;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
}
.nav .nav-menu > li {
  position: relative;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 700;
}
.nav .nav-menu > li::after {
  position: absolute;
  content: '';
  top: 24px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #00c73d;
  transition: all ease-in-out 0.25s 0s;
}
.nav .nav-menu > li:hover::after {
  width: 100%;
  background-color: #fff;
}
.nav-right {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}
.nav-right > button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.nav-right span {
  position: relative;
  margin-left: 5px;
}
.nav-right span::after {
  content: '';
  position: absolute;
  left: 27px;
  top: 7px;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}
.nav-right > .nav-select-lang {
  display: none;
  /* display: block; */
  position: absolute;
  width: 80px;
  top: 30px;
  left: 5px;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 16px 0;
}
.nav-right > .nav-select-lang a {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.nav-right > .nav-select-lang a:hover {
  opacity: 0.6;
}

.header .btn-search::before {
  content: '';
  position: absolute;
  left: -10px;
  display: block;
  width: 1px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}
.header .btn-search {
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}
.nav-search {
  display: none;
  /* display: flex; */
  margin-left: calc(100vw - 832px);
  align-items: center;
}
.nav-search > button,
.nav-search > input {
  background: none;
  border: none;
}
.nav-search > input {
  width: 604px;
  margin-left: 15px;
  font-size: 16px;
}
.nav-search > input:focus {
  outline: none;
}
